In [3]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
dataset=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/insurance.csv')
dataset

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [7]:
label = LabelEncoder()
label.fit (dataset. sex. drop_duplicates ( ) )
dataset.sex = label.transform(dataset.sex)
label.fit(dataset. smoker. drop_duplicates() )
dataset.smoker =label.transform(dataset. smoker)
label.fit(dataset.region.drop_duplicates())
dataset.region=label.transform(dataset.region)

dataset

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    1  33.770         1       0       2   1725.55230
2      28    1  33.000         3       0       2   4449.46200
3      33    1  22.705         0       0       1  21984.47061
4      32    1  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [8]:
X_lin = dataset.drop(['charges'], axis=1)
y_lin = dataset[['charges']]

X_lin_train, X_lin_test, y_lin_train, y_lin_test = train_test_split(X_lin,y_lin,test_size=0.3,random_state=42)

In [9]:
Linear_model = LinearRegression()
Linear_model.fit(X_lin_train,y_lin_train)

LinearRegression()

In [ ]:
pred = Linear_model.predict(X_lin_test)
pred

In [12]:
Linear_model.score(X_lin_test,pred)

1.0

In [13]:
for idx, col_name in enumerate(X_lin_train.columns):
  print('The coefficients for {} is {}'.format(col_name, Linear_model.coef_[0][idx]))

The coefficients for age is 261.62568984274697
The coefficients for sex is 109.64719595060507
The coefficients for bmi is 344.5448306560361
The coefficients for children is 424.3701659576309
The coefficients for smoker is 23620.802521481746
The coefficients for region is -326.4626252721918

In [14]:
intercept = Linear_model.intercept_[0]
intercept

-12364.391322279254